@{
    ViewData["Title"] = "Registro Empleados";

}
<div id="backEmple">
    <section class="registerEmple">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Primer Apellido</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Primer Apellido">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Segundo Apellido</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Segundo Apellido">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">CI</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="CI">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Puesto</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Puesto">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Horario</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Horario">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>
    
</div>
